:root{


    /* App Colors */

    --color-primary: var(--color-black);

    --color-primary-variant: var(--color-gray);

    --color-accent: var(--color-blue);

    --color-accent-variant: var(--color-orange);

    --color-text: var(--color-white);


    /* Color */

    --color-white: #ffffff;

    --color-black: #050a13;
    
    --color-blue: #00DFA2;
    
    --color-orange: #fd6413;
    
    --color-gray: #000000;
}

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.max-container{
   width: 100%;
    margin: auto;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
    color: var(--color-text);
}
button{
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}
button:focus{
    outline:  1px solid var(--color-accent);
}

/* common */
.section{
    padding: 4rem;
    text-align: center;
}
.title{
    font-size: 2.5rem;
    text-align: center;
}
.desc{
    font-size: 1.5rem;
    margin : 0.5rem 0;
}

/* header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem; 
    z-index: 1;
}


.header__logo{

   display: flex;
   align-items: center;
   gap: 4px;
   

}

.header__logo__title{
    font-size: 1.8rem;  /* 기본 폰트 * 1.8px 16px * 1.8 =  32px */
}


.header__menu{

    display: flex;
    flex-direction: row;
    gap: 4px;
}
   
/* 햄버거 메뉴 */
  .header__menu i{
    color: #00DFA2;
    opacity: 0;
  }
.header__menu__item{
    padding: 8px 16px;
}


.header__menu__item:hover{
   border-bottom:  1px solid var(--color-accent);
   
}


.header__menu__item.active{

    border: 1px solid var(--color-accent);
    border-radius: 4px;
}


/* home */

#home{
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home__img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title{
    font-size: 3rem;
    margin-bottom: 1rem;

}
.home__title__name{
    color: var(--color-accent);
}
.home__desc{
  
   font-size: 1.3rem ;
   
}

.home__contect{
   
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
    margin-top: 1rem;
   
}
.home__contect:hover{
    
    background-color: transparent;   /*  투명 */
    color: var(--color-accent);
    outline: 2px solid var(--color-accent); 

}

/* about */

.majors{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
    align-items: center;
    
}

.major{
    width: 100%;
    height:20rem;
    background-color: var(--color-primary-variant);
    margin-left: 1rem;
    padding: 2rem 1rem;
    align-items: center;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}
.major:hover #major__icon{
    transform: rotate(-15deg) scale(1.2);
}
#major__icon{
   font-size: 5rem;
   margin: 1rem 0;
   color: var(--color-accent);
   transition: all 300ms ease;
}
.major__title{

    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.camp{
    text-align: start;
}

.about__camp{
   display: flex;
   align-items: center;
   gap: 8px;
}
.about__camp p{
    color: var(--color-gray);
}
#camp__icon{
    font-size: 2rem;
    color: var(--color-accent);
}


/* 스킬 */

#skills{
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills{
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}
.skills__title{
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}
.skills__coding{
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary);
    gap: 0.5rem;
}
.bar{
   
    display: flex;
    flex-direction: column;
    padding: 1rem;

 
}
.bar__metadata{
    display: flex;
    justify-content: space-between;
}
.bar__bg{
    width: 100%;
    height: 4px;
    background-color: var(--color-gray);
}
.bg__value{
    
    height: 4px;
    background-color: var(--color-accent);
}
  


.skills__tools{
    padding: 1rem;
    background-color: var(--color-primary);
    filter:brightness(100%);
    
  

}
.skills__etc{
    padding: 1rem;
    background-color: var(--color-primary);
    filter:brightness(150%);
  
}


/* study */

#study{
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories{
    display: flex;
    justify-content: center;
    margin:2.5rem;
    gap: 2rem
}

.categorie{
    position: relative;
    color: var(--color-white);
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    border-radius: 0.5rem;
    white-space: nowrap;
   
}
.categorie--selected{
    background-color: var(--color-accent);
    color: var(--color-primary);
}
.category__cnt{
    opacity: 0; 
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28pxx;
    height: 28pxpx;
    background-color:var(--color-accent-variant);
    color: var(--color-text);
    border-radius: 100%;
    padding: 0.5rem;
    line-height: 28px;  /*//heigth과 동알하게 라인셋팅,수직으로 중간정렬 */
    transition: all 250ms ease-in;
}

.categorie--selected .category__cnt,
.categorie:hover .category__cnt{
    opacity: 1;
    top: 0;
}

.projects{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}


.project{
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    
}

.project__img{
    width: 100%;

    
}
.project__metadata{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
}
.project__metadata:hover{

    opacity: 0.8;
    transform: translateY(0px);
}

.project__title::after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem;
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
}


/* 업 버튼 */

.arrow-up{
    position: fixed;
    font-size: 3rem;
    bottom: 3rem;
    right: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    background-color: var(--color-primary);
    box-shadow: 5px 5px 0px 0px var(--color-accent);
}

/* footer */

#contect{
    background-color: var(--color-primary);
    color: var(--color-text);
}

.contect__links{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
    
    
}
/* a태그 */
.contect__link{   
   
    display: inline-block;
 
}
.contect__link i{
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.contect__link:hover i{
    color: var(--color-accent);
    transform: scale(1.5);
}

@media screen and (max-width: 768px){
    .header__menu i{
        color: #00DFA2;
        font-size: 3rem;
        opacity: 1;
        top: 0;
    }
    .header__menu{
        display: none;
    }

    .section {
        padding: 3rem 2rem;
    }

    .title{
        font-size: 2rem;
    }

    .desc{
        font-size: 1rem;
    }

    #home{
        padding-bottom: 3rem;
    }
    .home__title{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    .majors{
        flex-direction: column;
       
    }
    .major{
        max-width: 25rem;
    }
    .camp{
        justify-content: center;
    }
    .skills{
        grid-template-columns: 1fr;
    }
    .categories{
        display: flex;
        flex-direction: column;

    }
    .categorie{
        width: 100%;
    }

    
    .projects{
        grid-template-columns: repeat(2,1fr);
    }

    .arrow-up{
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}



@media screen and (max-width: 480px){
    .header__menu i{
        color: var(--color-accent-variant);
        font-size: 2rem;
        opacity: 1;
        top: 0;
    }
    .header__menu{
        display: none;
    }

    .section {
    
        padding: 4rem 3rem;
    }

    .title{
        font-size: 2rem;
    }

    .desc{
        font-size: 1rem;
    }

    #home{
        padding-bottom: 3rem;
    
    }
    .home__title{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
   .skills__coding
    .majors{
        flex-direction: column;
       
    }
    .major{
        max-width: 25rem;
        margin-top: 2rem;
    }
    .major .desc{
        display: none;
    }
    .camp{
        justify-content: center;
    }
    .skills{
        grid-template-columns: 
    }
    .categories{
        display: flex;
        flex-direction: column;

    }
    .categorie{
        width: 100%;
    }

    
    .projects{
        grid-template-columns: 1fr;
    }
    
    .arrow-up{
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
        
    }
    
    }